/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html, body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    color: hsl(0, 0%, 7%);
    background-color: hsl(0, 0%, 100%);
    text-align: start;
    border: #000 solid 1.5px;
    border-radius: 1.1rem;
    box-shadow: 7px 7px 0 #000;
    padding: 7%;
}

.main, .header-image {
    width: clamp(12rem, 17rem + 5vw, 20rem);
}

.header-image {
    border-radius: 0.7rem;
}

.type .title .mentor {
    font-weight: 800;
}

.type {
    background-color: hsl(47, 88%, 63%);
    border-radius: 0.2rem;
    font-size: 16px;
    text-align: center;
    width: 5rem;
    margin-top: 7%;
    padding: 5px;
}

.date {
    font-size: 14px;
}

.title {
    font-size: clamp(20px, 23px, 28px);
}

.title:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.info {
    color: hsl(0, 0%, 42%);
    font-size: clamp(12px, 14px, 16px);
    line-height: 1.7;
}

.mentor {
    display: flex;
    align-items: center;
    margin: 3% 0;
}

.mentor > img {
    padding-right: 3%;
    width: 35px;
    height: 35px;
}

.mentor > figcaption {
    margin: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 5%;
}

.attribution a { color: hsl(228, 45%, 44%); }
